{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":11,"column":14},"end":{"row":11,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":63,"mode":"ace/mode/text"}},"hash":"07b827805d1cc7a4d40fc127d5ec83272ff1091c","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1566779776804}