<!DOCTYPE html>
<html>
    <head>
           <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
           <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
           <link rel="icon" type="image/png" href="../../static/img/favicon.ico">
           <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
          
    </head>
    <body style="background:url(static/img/dinner-egg-flatlay-54455.jpg);background-size:100%  100%;">
          <header>
         <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('index')}}" class="brand-logo">Online cookbook</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                     <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('insert_recipe')}}">Recipe</a></li>
                 {% if session['username'] %}  
                     <li><a href="{{url_for('loggedin', username=session['username'])}}">Result</a></li>
                    <li><a href="{{url_for('add_recipe')}}"> Add Recipe</a></li>
                    <li><a href="{{url_for('categories')}}">Manage Category</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    {% else %}  
                    <li><a href="{{url_for('signup')}}">Sign Up</a></li>
                    <li><a href="{{url_for('login')}}" >Login</a></li> 
                {% endif %}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('insert_recipe')}}">Recipes</a></li>
                 {% if session['username'] %}   
                 
                    <li><a href="{{url_for('add_recipe')}}"> Add Recipe</a></li>
                    <li><a href="{{url_for('categories')}}"> Manage Category</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                     {% else %}  
                    <li><a href="{{url_for('signup')}}">Sign Up</a></li>
                    <li><a href="{{url_for('login')}}" >Login</a></li>
                 {% endif %}
                   
                </ul>
            </div>
        </nav>
          {% block content %}{% endblock %}
 </header>
     

        
      

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
         <script type="text/javascript" src="static/js/script.js"></script>
         <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
    </script>
    
</body>
</html>