{% extends 'base.html'%}{% block content %}
<main class="center-align container">

<!--Page Title-->
    <h2 class="page-title">Welcome to Your Festive Cookbook </h2><hr>
    <h5>would you like to choose your favourit recipe search and click Go</h5>
    <div class="main">
    <div class="col s12 m12">
        <form action="{{ url_for('search') }}" method="POST" class="search-form">
            <div class="input-field col s12">
                <i class="material-icons prefix">youtube_searched_for</i>
                <input type="text" id="db_query" name="db_query" placeholder="Search">
                <button class="btn waves-effect waves-light search-btn" type="submit">GO<i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>
     {% for r in recipe %}
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="{{ r['recipe_image'] }}">
                </div>
                <div class="card-title">
                    <span>{{ r.recipe_name }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('recipe', recipe_id=r._id) }}">View Reicpe</a>
                </div>
            </div>

        </div>
        {% endfor %}

        
        <!-- end of col-9 -->
    </div>
    <!-- end of row -->
    <br>
    
    <div class="marquee">
        <center>
        <marquee behavior="alternate" direction ="left">
                <img src="static/img/images1.jpg" height="300px"  width="450px"alt="food-Gallery"/>
                <img src="static/img/2391480-bigthumbnail.jpg" height="300px"  width="450px" alt="food-Gallery"/>
                 <img src="static/img/3D-Food.jpg" height="300px"  width="450px"alt="food-Gallery"/>
                <img src="static/img/background-food.jpg"  height="300px"  width="450px"alt="food-Gallery"/>
                <img src="static/img/food1.jpg" height="300px"  width="450px" alt="food-Gallery"/>
                <img src="static/img/images.jpg" height="300px"  width="450px"alt="food-Gallery"/>
                <img src="static/img/food2.jpeg" height="300px"  width="450px"alt="food-Gallery"/>
                <img src="static/img/images2.jpg" height="300px"  width="450px"alt="food-Gallery"/>
      </marquee>
          </center>     
    </div>
     
               
        
</main>

{% endblock %}
 