{% extends "base.html" %}
{% block content %}
    <div class="recipe-detail-container">
      <p class="recipe-header">{{recipe.name}}</p>
      <div class="recipe-contents">
        <div>
          <img src="{{recipe.image}}" class="image"/>
          <div class="padding">
            <p class="recipe-stat"><i class="material-icons icon">timer</i>Cooking time: {{recipe.cooking_time}}</p>
            <p class="recipe-stat"><i class="material-icons icon">restaurant</i>Prep time: {{recipe.prep_time}}</p>
            <p class="recipe-stat"><i class="material-icons icon">person</i>Serves: {{recipe.serves}}</p>
            <p class="recipe-stat"><i class="material-icons icon">folder</i>Category: {{recipe.category}}</p>
             <p class="recipe-stat"><i class="material-icons icon">folder</i>cuisine: {{recipe.cuisines}}</p>
          </div>
        </div>
       
        <div class="padding">
          <p class="recipe-header">Ingredients</p>
           {% for ingredient in recipe.ingredients %}
           <p class="ingredient">{{ingredient}}</p>
            {% endfor %}
          <p class="recipe-header">Method</p>
          <p>{{recipe.method}}</p>
        </div>
      </div>
    </div>
  </div>
 {% endblock %}